.page {

}

.page-header {
    margin-bottom: 20px;
}

.wrap {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    text-align: 24px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.block__text {
    width: 32%;
}