.page {

}

.page-header {
    margin-bottom: 20px;
}

.wrap {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.block__text {
    width: 32%;
}

.block-skills {
    display: flex;
    justify-content: space-between;
}

.box-skills {
    width: 24%;
    text-align: center;
}

.box-skills__title {
    font-size: 24px;
}

.box-skills__img {
    height: 52px;
}