@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.page {
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
}

.page_grey{
    background-color: #f0f0f0;
}

.page-header {
    margin-bottom: 20px;
}

.wrap {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.block__text {
    width: 32%;
}

.block-skills {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box-skills {
    width: 24%;
    text-align: center;
}

.box-skills__title {
    font-size: 24px;
}

.box-skills__img {
    height: 52px;
}

.block-numbers {
    display: flex;
    justify-content: space-between;
}

.box-numbers {
    width: 24%;
    text-align: center;
}

.box-numbers__text {
    font-size: 24px;
    text-transform: uppercase;
}

.box-numbers__text span {
    display: block;
    font-size: 36px;
}